---
import BackButton from '../../components/BackButton.astro';
import HistoriaUsuario from '../../components/HistoriaUsuario';
import Layout from '../../layouts/Layout.astro';
const project_id  = Astro.url.searchParams.get('project_id') || '';
const { id } = Astro.params; 
---
<Layout title='Historia de usuario'>
  <main class="max-w-4xl mx-auto p-6 pt-[50px]">
    <BackButton route={`/proyecto/${project_id}`} />
    <HistoriaUsuario historiaId={id} client:load />
  </main>
</Layout>
    