---
import BackButton from '../../components/BackButton.astro';
import ProyectoUsuario from '../../components/ProyectoUsuario';
import Layout from '../../layouts/Layout.astro';

const { id } = Astro.params; 
---

<!DOCTYPE html>
<Layout title='Proyecto'>
  <main class="max-w-4xl mx-auto p-6 pt-[50px]">
    <BackButton route="/dashboard" />
    <ProyectoUsuario projectId={id} client:load />
  </main>
</Layout>
    
