---
// Página dinámica de creación de historia de usuario
import Layout from '../../layouts/Layout.astro';
import HistoriaFormulario from '../../components/HistoriaFormulario';
import BackButton from '../../components/BackButton.astro';

const { projectId } = Astro.params; 
---

<Layout title="Crear Historia de Usuario">
  <main class="max-w-4xl mx-auto p-6 pt-[50px]">
    <BackButton route={`/proyecto/${projectId}`} />
    <div class="bg-white shadow-lg rounded-lg p-8 mt-4">
      <HistoriaFormulario client:load project_id={projectId} />
    </div>
  </main>
</Layout>
