---
import Layout from "../layouts/Layout.astro";
import UserCompanyInfo from "../components/UserCompanyInfo";
---

<Layout title="Crear Historia de Usuario">
    <main class="max-w-4xl mx-auto p-6">
        <UserCompanyInfo client:load />
    </main>
  </Layout>