---
import Layout from '../layouts/Layout.astro';
import ProyectoFormulario from '../components/ProyectoFormulario';
import BackButton from '../components/BackButton.astro';
---

<Layout title="Crear Historia de Usuario">
  <main class="max-w-4xl mx-auto p-6 pt-[50px]">
    <BackButton route="/dashboard" />
    <h1 class="text-4xl font-semibold text-gray-800 my-6">Crear nuevo proyecto</h1>

    <div class="bg-white shadow-lg rounded-lg p-8">
      <p class="text-lg text-gray-600 mb-4">Rellene el formulario para crear una nuevo proyecto.</p>

      <ProyectoFormulario client:load />
    </div>
  </main>
</Layout>
