---
import Layout from '../layouts/Layout.astro';
import DashboardReact from '../components/Dashboard';
---

<Layout title="Dashboard">
  <main class="bg-gray-100 h-full p-6 pt-[50px]">
    <DashboardReact client:load />
  </main>
</Layout>
