---
import GoogleAuthButton from '../components/GoogleLoginButton';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenido.">
	<main class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
	  <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center w-full">
		Aplicación de gestión de proyectos.
	  </h1>
	  
	  <GoogleAuthButton client:visible />
	</main>
  </Layout>
