---
import UserCompanySelector from '../components/UserCompanySelector';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Seleccionar Compañía">
  <main>
    <UserCompanySelector client:load />
  </main>
</Layout>
