---
import UserCompanySelector from '../components/UserCompanySelector';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Seleccionar Compañía">
  <main class="pt-[50px]">
    <UserCompanySelector client:load />
  </main>
</Layout>
